@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components{
    .bg-primary-color{
        @apply bg-[#F2F5F9]
    }
    .bg-secondary-color{
        @apply bg-[#FFB341]
    }
}

.details {
    scrollbar-width: thin;
}
.details::-webkit-scrollbar {
    width: 6px;
  }
.card{
    scrollbar-width: thin;
}
.card::-webkit-scrollbar{
    width: 0px;
    background: #cecece00;
}
.card::-webkit-scrollbar-thumb{
    background: #383b5f;
    width: 0px;
    height: 4px;
}s
.card::-webkit-scrollbar-corner{
    border-radius: 5px;
}
.display{
    scrollbar-width: thin;
}
.display::-webkit-scrollbar{
    width: 0px;
    background: #cecece00;
}
.display::-webkit-scrollbar-thumb{
    background: #383b5f00;
    width: 0px;
    height: 2px;
}
.display::-webkit-scrollbar-corner{
    border-radius: 5px;
}
.download:hover{
    width: 40%;
    border-radius: 20px;
}
.download:hover i{
    visibility: hidden;
}
.download p{
    visibility: hidden;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 8px;
    cursor: pointer;
}
.download:hover p{
    visibility: visible;
}
.containerlay h1::after {
    content: "";
    display: block; 
    width: 150px;
    height: 5px;
    background-color: #FFB341;
    animation: moveBeside 5s ease-in-out infinite;
}

@media (max-width: 800px) {
    .containerlay h1::after{
        width: 120px;
        height: 3px;
    }
    .avatarImg {
        /* Apply animation to the avatar image */
        animation: bubblePop 4s infinite ease-in-out; /* Adjust timing as needed */
    }
}
@keyframes moveBeside {
    0% { transform: translateX(-20px); } 
    50% { transform: translateX(50px); }
    100% { transform: translateX(-20px); } 
}
@keyframes bubblePop {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

